@import url("https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap");

.App {
  text-align: center;
}

body {
  font-family: 'Lexend Mega', sans-serif;
  background-color: #FFF9E6;
}

button, .btn {
  padding: 10px !important;
}

.h-100 {
  height: 98%!important;
}

.form-signin {
  width: 100%;
  max-width: 480px;
  padding: 15px;
  margin: auto;
  padding-top: 15%;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.formRow  {
  margin-bottom: 1rem;
}

@media (max-width: 768px) and (orientation:portrait) {
  .formRow {
    margin-bottom: 0.5rem;
  }

  .form-signin {
    padding-top: 45%;
  }

  .gameContainer {
    padding-top: 20px;
  }
}

@media (max-width: 823px) and (orientation:landscape) {
  .formRow {
    margin-bottom: 0.2rem;
  }

  .form-signin {
    padding-top: 7%;
  }

  .gameContainer {
    padding-top: 15px;
  }
}

.buttonStyle {
  width: 100%;
}

.spinner-border {
  margin: auto;
  display: flex;
  width: 7rem;
  height: 7rem;
}

.gameContainer {
  padding-top: 15px;
}

.square {
  float: left;
  width: 120px;
  height: 120px;
  background-color: #8C8A8A;
  border: 1px solid #A1A1A1;
}

.border-row:after {
  clear: both;
  content: "";
  display: table;
}

.game, .chips {
  position: absolute;
  top: 25%;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.chip {
  border: none;
  background-color: transparent;
  width: 100px;
  height: 120px;
}

.chipImg {
  width: 100% !important;
 }

 .chipImg.small {
  width: 65% !important;
 }

 .pendChoice {
   border: 3px solid #7EDF9B;
   border-radius: 3px;
 }

 .pendDecision {
   border: 3px solid #FFA0A0;
 }

 .chip:focus {
  outline: none;
  box-shadow: none;
}

@media (max-width: 991px)  {
  .squareImage {
    -webkit-transform: translate( -25%, -25%) scale3d(0.5, 0.5, 1); /* Saf3.1+, Chrome */
    -moz-transform: translate( -25%, -25%) scale3d(0.5, 0.5, 1); /* FF3.5+ */
     -ms-transform: translate( -25%, -25%) scale3d(0.5, 0.5, 1); /* IE9 */
      -o-transform: translate( -25%, -25%) scale3d(0.5, 0.5, 1); /* Opera 10.5+ */
    transform: translate( -23%, -27%) scale3d(0.5, 0.5, 1);
            /* IE6–IE9 */
            filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9999619230641713, M12=-0.008726535498373935, M21=0.008726535498373935, M22=0.9999619230641713,SizingMethod='auto expand');
  }

  .game {
    top: 0;
    padding-bottom: 20px;
  }

  .chips {
    top: 48%
  }

  .square {
    width: 70px;
    height: 70px;
  }

  .chip {
    width: 50px;
    height: 50px;
  }

  .chipImg {
   width: 120% !important;
  }

  .chipImg.small {
   width: 95% !important;
  }
}

#boardSquare0 {
  border-radius: 15px 0 0 0;
}

#boardSquare3 {
  border-radius: 0 15px 0 0 ;
}

#boardSquare12 {
  border-radius: 0 0 0 15px;
}

#boardSquare15 {
  border-radius: 0 0 15px 0;
}

#boardSquare12, #boardSquare13, #boardSquare14, #boardSquare15 {
  box-shadow: 0px 2px 1.5px #888888;
}

#turnSpan, #donateButton {
  padding: 7px 20px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0px 2px 5px #888888;
  font-size: 20px;
}

.shadowBox {
  border-radius: 5px;
  box-shadow: 0px 2px 5px #888888;
}

.yourT {
  background: #7EDF9B;
}

.opponentT {
  background: #FFA0A0;
}